<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="google-site-verification" content="yZ4tBq-WFtMq4oms8fuQDhhLo2jVBm7VOdl9X86chQQ" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="HTML, CSS, JavaScript,JAVA,PYTHON,C, C++, CPP, JOB, JOB HELPER, JOB SEARCH , TCS , WIPRO, MICROSOFT , GOOGLE , ACCENTURE, CAPGEMINI, PAYTM , IBM,META, PHONEPE, FACEBOOK, APPLE, ALPHABET, QUALCOMM, QUORA , CHETU, CHEGG, CHEGG INDIA, CHEGG CODING SOLUTION, TOP MNC, HCL, INDIAN RAILWAY, JOB SEARCH, CODING ROUND HELP , CODING SOLUTION, INTERVIEW SOLUTION, TCS SOLUTION , MICROSOFT SOLUTION, WIPRO SOLUTIONS, EXAM HELPER, CODING TEST SOLUTION , CODING NINJA , HACKERRANK SOLUTION, GEEKSFORGEEKS SOLUTION , GFG SOLUTIONS , CC SOLUTION , CF SOLUTION , COLLEGE PROJECTS, MAJOR PROJECT IDEA , MINOR PROJECT IDEA, MAJOR SOLUTION , MINOR SOLUTION , Assignments, EASY WAY TO DO ASSIGNMENTS , ONLINE ASSIGNMENT SOLUTION , COLLEGE ASSIGNMENT , TIPS , ENGINEERING PROJECTS, ACER , HP DELL , INTEL, AMD, RYZEN , I5, I10, SAMSUMNG , H&M, ZARA , HTC , W3SCHOOL, MERN , NODE, ONLINE IDE, VISUAL STUDIO , CODING NINJA , MEGA CODING COURSES , RECURTMENT TEST , RESUME , WORK EXPERIENCE, JOB IN HAND , GOVERMENT JOB, PRIVATE JOB, LEVER JOB , SOFTWARE ,SOFTWARE ENGINEER, SOFTWARE ENGINEERING, IIT , NIT , AKTU, BTEUP, CODIYAPA, MIT , CODIYAPA, CODIYAPA, CODIYAPA, CODIYAPA, CODIYAPA, CODIYAPA, CODIYAPA, CODIYAPA, CODIYAPA, CODIYAPA, CODIYAPA, CODIYAPA, CODIYAPA, CODIYAPA">
  <meta name="description" content="Codiyapa is a platform where we help people to get job by solving their online recruitment tests. We are not selling course, we are selling answers">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Codiyapa</title>
  <link rel="icon" href="public/images/codiyapa.png" type="image/x-icon">
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css" />
  <link rel="stylesheet" href="public/css/style.css">
</head>
<body>
  <div class="container">
    <h1 class="brand"><span>CoDiYaPa</span> Community</h1>
    <div class="wrapper animated bounceInLeft">
      <div class="company-info">
        <h3><i class="fa fa-handshake-o"></i> Services</h3>
        <ul>
          <li><i class="fa fa-code"></i> Coding Solution</li>
          <li><i class="fa fa-file-code-o"></i> College Project </li>
          <li><i class="fa fa-pencil-square-o"></i> Assignments</li>
          <li><i class="fa fa-lightbulb-o"> Reasoning & Aptitude</i></li>
        </ul>
      </div>
      <div class="contact">

      <% if(success != ''){ %>
        <div class="alert alert-success alert-dismissible fade show" role="alert">
          <strong> Form Subitted! </strong>Our Team will contact you soon.
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% } %>
        

        <h3>Contact Information</h3>
        <form method="POST" action="send">
          <p>
            <label>Name</label>
            </i><input required type="text" name="name" placeholder="Enter your name">
          </p>
          <p>
            <label>Whatsapp Number</label>
            <input required type="text" name="phone" placeholder="No advertisment will flash on your phone.">
          </p>
          <p>
            <label>Email Address</label>
            <input required type="email" name="email" placeholder="abc@xyz.com">
          </p>
          <p>
            <label>Company</label>
            <input required type="text" name="company" placeholder="Company Name">
          </p>
          <p>
            <label>Exam Date</label>
            <input required type="date" name="date" placeholder="Exam Date">
          </p>
          <p>
            <label>Exam Time / Slot</label>
            <input required type="time" name="time" placeholder="Exam Date">
          </p>
          <p class="full">
            <label>Description</label>
            <textarea required name="message" rows="5" placeholder="Tell us about your exam details like exam structure, exam name and job role..."></textarea>
          </p>
          <p class="full">
            <button type="submit">Submit</button>
          </p>
        </form>
      </div> 
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>


